/* Font */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Roboto+Mono&family=Work+Sans&display=swap');
</style>

/* Universal Styles */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    
}

.header{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

nav > ul > li{
    list-style: none;
    display: inline;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 500px;
}

/* Header Banner Styles */
.head-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.head-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.head-content > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}

.head-img > img{
    width: 100%;
    padding-bottom: 50px;
}

.header-button{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    padding: 20px 30px;
    margin: 40px 0;
    background-color: #FF900E;
    border-radius: 10px;
    border: 0;
}

/* Service Section Styles */
.service-section{
    max-width: 1140px;
    margin: 0 auto;
}

.service{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 100px;
}

.service-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

article{
    text-align: left;
}
article > h3{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
}

article > p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.our{
    font-weight: 700;
    color: #131313;
}

.feature{
    font-weight: 700;
    color: #FF900E;
}

/* Secondary Service Styles */
.secondary-service{
    max-width: 1200px;
    margin: 0 30px 0 320px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.sec-service-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid orange;
    text-align: left;
    padding-left: 15px;
    
}

.sec-service-content > p{
    padding-left: 10px;
}

.blog{
    text-align: left;
    padding: 15px 20px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.blog > h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #131313;
}

.blog > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}


.secondary-service > img{
   height: 800px;
   padding-left: 50px;
    border-radius: 8px;
}

.service-button{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    padding: 20px 70px;
    margin: 40px 0;
    background-color: #FF900E;
    border-radius: 10px;
    border: 0;
    right: 20rem;
    top: 180rem;

    position: absolute;
}

/* Footer Section */
footer{
    max-width: 1140px;
    margin: 0 auto;

}

.achievements{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;

}
.achieve-section{
    
}

.facts{
    text-align: left;
}

.facts > h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
}

.facts > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:#727272;
    padding-top: 0px;
}

.ach-content{
    text-align: center;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 8px;
    transition: transform .5s;
    
}

.ach-content:hover{
    transform: scale(3);
}

.reward:hover{
    /* transform: scale(3); */
}

.reward{
    /* transition: transform .5s; */
}

.ach-content > h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    color: #131313;
    margin: 0px;
}
.ach-content > h5{
    font-size: 17px;
    font-weight: 600px;
    color: #727272;
    margin-top: 5px;
}


.sponsor-content{
    text-align: center;

}

.sponsor-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    color: #131313;
    margin-top: 10;
}

.sponsor-content > p{
    font-size: 16px;
    font-weight: 600px;
    color: #727272;
    margin-top: -30px;
}

.sponsor-logo{
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.sponsor-logo > img{
    filter: grayscale(100%);
}

.footer-logo{
    padding: 20px;
    text-align: center;
    background-color: rgb(241, 231, 194);
    margin: 30px 0 60px 0;
    border-radius: 8px;
}

/* Bonus Section */
.bonus-container{
    background-color: rgb(154, 240, 243);
    padding: 50px 0;
}
.bonus-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
}
/* 
.bonus-content{
    display: flex;
    flex-direction: column; */
}

.bonus-content{
    
}

.bonus-content > h3{
    color: #727272;
    font-size: 20px;
    padding-left: 25px;
}

.bonus-content > img{
    border-radius: 10px;
    width: 600px;
    height: 500px;
}

